/*VARIABLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px; }

header {
  width: 100%;
  height: auto;
  background-image: url(../images/bg-header-desktop.png);
  position: relative; }
  header .imgHeader {
    text-align: center;
    padding: 5rem; }
    header .imgHeader img {
      width: 10%; }

@media only screen and (max-width: 376px) {
  header .imgHeader img {
    width: 50%; } }

h1, h2 {
  color: #4c545d;
  text-align: center; }

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: .8rem; }

h2 {
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: .8rem; }

h3 {
  color: #4c545d;
  font-size: 1.5rem;
  font-weight: 700; }

p {
  text-align: center;
  color: #9fabb2;
  line-height: 1.8rem;
  font-size: 1.15rem;
  font-weight: 400; }

@media only screen and (max-width: 376px) {
  h1 {
    font-size: 2rem; }
  p {
    font-size: 1rem; } }

.seccion1 {
  text-align: center; }
  .seccion1 .botones {
    margin-top: 3rem;
    margin-bottom: 3rem; }
    .seccion1 .botones a {
      text-decoration: none;
      color: white;
      padding: 1rem 2rem; }
    .seccion1 .botones .boton1 {
      background-color: #26baa4;
      border: 2px;
      margin-right: 1rem;
      border-radius: 1.5rem;
      transition: all .6s; }
    .seccion1 .botones .boton2 {
      background-color: #6173ff;
      border: 2px;
      border-radius: 1.5rem;
      transition: all .6s; }
  .seccion1 .boton1:hover {
    box-shadow: 0rem 0.2rem 0.5rem 0.1rem #4c545d; }
  .seccion1 .boton2:hover {
    box-shadow: 0rem 0.2rem 0.5rem 0.1rem #4c545d; }

.seccion2 {
  margin-top: 8rem; }
  .seccion2 .computerGrid {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .seccion2 .computerGrid img {
      width: 100%;
      margin-left: -1.7rem; }
    .seccion2 .computerGrid .computerText {
      padding: 3rem 0 0 4rem;
      width: 65%; }
      .seccion2 .computerGrid .computerText h3 {
        margin-bottom: .5rem;
        font-size: 1.5rem; }
      .seccion2 .computerGrid .computerText p {
        text-align: left;
        font-size: 1rem;
        margin-bottom: 3rem; }

.seccion3 {
  margin-top: 7rem; }

.imgCel {
  text-align: center;
  margin-top: 5rem; }
  .imgCel img {
    width: 60%; }

.seccion4 {
  margin-top: 5rem; }
  .seccion4 .iconos {
    margin: 5rem 5rem 0 5rem;
    display: flex; }
    .seccion4 .iconos img {
      margin-bottom: 2rem;
      width: 10%;
      height: 15%; }
    .seccion4 .iconos h3 {
      padding: 1rem; }
    .seccion4 .iconos .iconoCol {
      text-align: center;
      width: 33%;
      padding: 2rem; }
      .seccion4 .iconos .iconoCol p {
        font-size: 1rem; }
    @media only screen and (max-width: 1354px) {
      .seccion4 .iconos .iconoCol {
        padding: .2rem; } }
  .seccion4 .iconos2 {
    display: flex;
    margin-top: 7rem;
    justify-content: center;
    gap: 5.5rem; }

.seccion5 {
  margin-top: 7rem;
  text-align: center; }
  .seccion5 .botones {
    margin-top: 3rem;
    margin-bottom: 3rem; }
    .seccion5 .botones a {
      text-decoration: none;
      color: white;
      padding: 1rem 2rem; }
    .seccion5 .botones .boton1 {
      background-color: #26baa4;
      border: 2px;
      margin-right: 1rem;
      border-radius: 1.5rem;
      transition: all .6s; }
    .seccion5 .botones .boton2 {
      background-color: #6173ff;
      border: 2px;
      border-radius: 1.5rem;
      transition: all .6s; }
  .seccion5 .boton1:hover {
    box-shadow: 0rem 0.2rem 0.5rem 0.1rem #4c545d; }
  .seccion5 .boton2:hover {
    box-shadow: 0rem 0.2rem 0.5rem 0.1rem #4c545d; }

footer {
  margin-top: 7rem;
  background-color: rgba(240, 235, 235, 0.931);
  padding: 2rem 5rem 1rem 5rem; }
  footer .footerLogo {
    width: 20%; }
    footer .footerLogo img {
      width: 25%; }
  footer .footerMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    margin-right: 3rem;
    padding-left: 0; }
    footer .footerMenu ul li {
      list-style: none;
      display: inline-block;
      font-size: 1rem;
      margin-right: 3rem;
      font-weight: 500; }
      footer .footerMenu ul li a {
        text-decoration: none;
        color: #4c545d; }
      footer .footerMenu ul li a:hover,
      footer .footerMenu ul li a:active {
        color: #26baa4; }
  footer .footerSocial {
    width: 20%; }
    footer .footerSocial ul li {
      list-style: none;
      display: inline-block;
      margin-right: 1.5rem;
      font-size: 1.2rem; }
      footer .footerSocial ul li a {
        text-decoration: none;
        color: #4c545d; }
    footer .footerSocial .fa-facebook-f:hover {
      color: #3b5998; }
    footer .footerSocial .fa-twitter:hover {
      color: #00aced; }
    footer .footerSocial .fa-instagram:hover {
      color: #517fa4; }

@media only screen and (max-width: 376px) {
  .seccion1, .seccion2, .seccion3, .seccion4 {
    margin: 0 1rem; }
    .seccion1 .para, .seccion2 .para, .seccion3 .para, .seccion4 .para {
      padding: 0 1.1rem; }
    .seccion1 .botones, .seccion2 .botones, .seccion3 .botones, .seccion4 .botones {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .seccion1 .botones .boton1, .seccion1 .botones .boton2, .seccion2 .botones .boton1, .seccion2 .botones .boton2, .seccion3 .botones .boton1, .seccion3 .botones .boton2, .seccion4 .botones .boton1, .seccion4 .botones .boton2 {
        margin-right: 0;
        margin-bottom: 1.5rem;
        padding: 1rem 5rem; }
  .seccion2 .computerGrid {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr; }
    .seccion2 .computerGrid .imgGrid {
      text-align: center; }
    .seccion2 .computerGrid img {
      width: 90%;
      margin-left: 0; }
    .seccion2 .computerGrid .computerText {
      padding: 0;
      margin-top: 5rem;
      width: 100%;
      text-align: center; }
      .seccion2 .computerGrid .computerText h3 {
        margin-bottom: .5rem;
        font-size: 1.5rem; }
      .seccion2 .computerGrid .computerText p {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 3rem;
        padding: 1.1rem; }
  .seccion3 .imgCel img {
    width: 95%; }
  .seccion4 .iconos {
    margin: 5rem 5rem 0 5rem;
    display: flex; }
    .seccion4 .iconos img {
      margin-bottom: 2rem;
      width: 10%;
      height: 15%; }
    .seccion4 .iconos h3 {
      padding: 1rem; }
    .seccion4 .iconos .iconoCol {
      text-align: center;
      width: 33%;
      padding: 2rem; }
      .seccion4 .iconos .iconoCol p {
        font-size: 1rem; } }
