header{
    width: 100%;
    height: auto;
    background-image: url(../images/bg-header-desktop.png);
    position: relative;
    .imgHeader{
        text-align: center;
        padding: 5rem;
        img{
            width: 10%;
        }
    }
}

@media only screen and (max-width: 376px){
    header{
        .imgHeader{
            img{
            width: 50%;
            }
        }
    }
}


