@mixin subTitulo{
    color: $darkGrayishBlue;
}
@mixin boton1{
    background-color: $strongCyan;
    border: 2px;
    margin-right: 1rem;
    border-radius: 1.5rem;
    transition: all .6s;
}
@mixin boton2{
    background-color: $lightBlue;
    border: 2px;
    border-radius: 1.5rem;
    transition: all .6s;
}
@mixin botonHover{
    box-shadow: 0rem .2rem .5rem .1rem $darkGrayishBlue;
}
@mixin botones{    
        margin-top: 3rem;
        margin-bottom: 3rem;
        a{
            text-decoration: none;
            color: white;
            padding: 1rem 2rem;
        }
        .boton1{
            @include boton1;
        }
        .boton2{
            @include boton2
        }
}
