.seccion1{
    text-align: center;
    .botones{
        margin-top: 3rem;
        margin-bottom: 3rem;
        a{
            text-decoration: none;
            color: white;
            padding: 1rem 2rem;
            
        }
        .boton1{
            background-color: $strongCyan;
            border: 2px;
            border-radius: 1.5rem;
        }
        .boton2{
            background-color: $lightBlue;
            border: 2px;
            border-radius: 1.5rem;
        }
    }
}

.seccion2{
    margin-top: 10rem;
    .computerGrid{
        margin-top: 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        img{
            width: 100%;
            margin-left: -1.7rem;
        }
        .computerText{
            padding: 3rem 0 0 4rem;
            width: 65%;
            h3{
                margin-bottom: .5rem;
            }
            p{
                text-align: left;
                margin-bottom: 3rem;
                line-height: 1.5rem;
            }
        }
    }
}

.seccion3{
    margin-top: 5rem;
    p{
        line-height: 1.5rem;
    }    
}
.imgCel{
    text-align: center;
    margin-top: 5rem;
    img{
        width: 60%;
    }
}

.seccion4{
    margin-top: 5rem;
}