h1, h2{
   @include subTitulo;
   text-align: center; 
}
h1{
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: .8rem;
}
h2{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: .8rem;
}

p{
    text-align: center;
    color: $grayishBlue;
    font-size: 1rem;
    font-weight: 400;
}